.drop-down-search{
}

.input{
    width: 15rem;
    padding: 0.25rem;
    color: black;
}

.floater-menu{
    width: 15rem;
    padding:0.25rem;
    padding-left: 1rem;
    margin-top: 0.25rem;
    background-color: #f6f6f6;
    position: absolute;
    z-index: 2;
}

.menu-item{
    padding: 0.25rem;
    cursor: pointer;
}

.menu-item:hover{
    color: rgb(84, 84, 84);
}

