
.clerk-dash{
    height: 100vh;
}

.dash-container{
    display: flex;
    height: 100%;
}

.dash-body{
    flex-grow: 1;
    height: 100%;
    background-color: #f6f6f6;
}

.actions{
    display: flex;
    gap: 1rem;
    height: 2.5rem;
}

.padded{
    margin: 8vh;
}
