.navbar{
    display: flex;
    padding: 1vh;
    background-color: #000000;
}

.space{
    width : 30%;
}

.title{
    width : 40%;
    text-align: center;
    color: #747474;
}

.profile-menu{
    width : 30%;
}

.profile-button{
    float: right;
}