.sidebar{
    width: 10rem;
    background-color: #303030;
    padding-top: 7vh;
}

.side-bar-item{
    text-align: center;
    color: #747474;
    padding: 0.75rem;
    padding-right: 0;

    transition: ease color 0.3s;
    font-size: 14pt;
    display: flex;
}

.side-bar-item:hover{
    color: #ffffff;
    transition: ease color 0.3s;
}

.side-bar-item-active{
    text-align: center;
    padding: 0.75rem;
    padding-right: 0;
    font-size: 14pt;
    color: rgb(255, 255, 255);
    transition: ease color 0.3s;
    display: flex;

}

.item-title{
    flex-grow: 1;
}

.triangle-left-show {
    margin-left: auto;
    order: 2;
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-right: 15px solid #f6f6f6;
	border-bottom: 12px solid transparent;
}

.triangle-left-hide {
    margin-left: auto;
    order: 2;
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 12px solid transparent;
}